html {
  display: block;
  padding: 0;
}

body {
    /* to visualise element
    border: 1px blue dashed; */
}


.imgContainer {
  margin: auto;
  width: 600px;
  height: 400px;
  background-color: pink;
}

img {
  position: absolute;
  margin-top: 0px;
  opacity: 0.8;
  width: 600px;
  height: 400px;
}

.button {
  width: 10%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  font-size: 2em;

}


#next {
  float: right;
}


@font-face {
  font-family: "EB_Garamond";
  src: url(https://fonts.googleapis.com/css?family=EB+Garamond);
}
