html {
  display: block;
  padding: 0;
}

body {
    /* to visualise element
    border: 1px blue dashed; */
}


.sliderContainer { /* TO DO: rename without camelCase */
  display: flex;
  margin: auto;
  overflow-x: hidden;   /* to clip image when it bleeds out container */
  width: 90vw;
  height: 60vw;
  background-color: pink; /* WIP help only - for visualisation */
}

#imgContainer { /* TO DO: rename without camelCase */
  display: flex;
  margin-left: 0px;
  transition: margin-left 0.3s linear 0s;
}

#currentImage {
  transition: margin-left 0.3s linear 0s;
}

img {
  width: 100%;
  height: 60vw;
  opacity: 0.7;
}

@media (min-width: 700px) {
  .sliderContainer {
    width: 700px;
    height: 467px;
  }

  img {
    width: 700px;
    height: 100%;
  }

}

button {
  position: fixed;
  width: 10%;
  height: 30%;
  background-color: green;
  opacity: 0.4;
  font-size: 2em;

}


#next {
  right: 20px;
}


@font-face {
  font-family: "EB_Garamond";
  src: url(https://fonts.googleapis.com/css?family=EB+Garamond);
}
